/********************************************************** common ********************************************************/
*{
	/*outline: 1px dashed red;*/
}

.clear{
	clear:both;
	width: 0;
	height: 0;
	min-height: 0;
	min-width: 0;
	border: 0 none;
	padding: 0;
	margin: 0;
}

.main-container{
	margin: 0 auto;
	direction: rtl;
	font-family: Tahoma;
	font-size: 12px;
}

/********************************************************** end of common ********************************************************/
/********************************************************** header => logo / search ********************************************************/

.header-container{
	margin: 0 auto;
	direction: inherit;
}

.header{
	width: 950px;
	margin: 0 auto;
	min-height: 100px;
	direction: inherit;
}

.logo a{
	display: block;
	margin-left: 459px;
	min-height: 100px;
}

/********************************************************** end of header => logo / search ********************************************************/
/********************************************************** menu  ********************************************************/

.menu-container{
	background-image: url('images/menu-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
	min-height: 43px;
}

.menu{
	width: 950px;
	margin: 0 auto;
	direction: inherit;
}

nav.menu ul{
	direction: inherit;
	list-style-type: none;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;	
	border-left: 1px solid #ccc;
}

nav.menu ul li{
	float: right;
	direction: inherit;
	border-right: 1px solid #fff;
	border-left: 1px solid #ccc;
}

nav.menu ul li:hover{
	background-image: url('images/menu-bg-hover.png');
	background-repeat: repeat-x;
	background-position: top;
}

nav.menu ul li a{
	display: block;
	padding: 13px 30px;
	font-family: inherit;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	text-shadow:0 1px #fff;
	text-decoration: none;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

nav.menu ul li:hover a{
	color: #444;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

/********************************************************** end of menu  ********************************************************/
/********************************************************** slider => in index page only  ********************************************************/

.slider-container{
	background-image: url('images/slider-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
}

section.slider{
	width: 950px;
	margin: 0 auto;
	min-height: 429px;
	direction: ltr;
	overflow: hidden;
	position: relative;
}

section.slider div.scroll{
	width:5000px; /* 5*980 (per img) */
	height:294px;
	position:absolute;
	left:0;
	top:0;
	direction: ltr;
	padding-top:1px;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);
}

section.slider div.scroll div{
	width:950px;
	height:294px;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
	direction: ltr;
}

section.slider div.scroll > div.adv1{
	background-image:url(images/132746088563c2de1d.JPG);
}

section.slider div.scroll > div.adv2{
	background-image:url(images/13274608779cd0af20.JPG);
}

section.slider div.scroll > div.adv3{
	background-image:url(images/13329970497e58993a.JPG);
}

section.slider div.scroll > div.adv4{
	background-image:url(images/1329301246a476aad2.JPG);
}

section.slider div.scroll > div.adv5{
	background-image:url(images/1329273262dca1c3ea.JPG);
}

section.slider div.bottons{
	width: 950px;
	margin: 0 auto;
	padding-top:1px;
	position: absolute;
	top:296px;
	background-color: 
}

section.slider div.bottons div.next{
	float: left;
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/back.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons div.next:hover{
	background-position: bottom;
}

section.slider div.bottons div.prv{
	float: right;
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/prev.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons div.prv:hover{
	background-position: bottom;
}

section.slider div.bottons div.arrows{
	margin-right:40px;
	margin-left: 40px;
	min-height: 50px;
	height:130px;
}

section.slider div.bottons ul.btns{
	list-style-type: none;
	height:130px;
}

section.slider div.bottons ul li{
	display: block;
	float: left;
	margin:6px 11px;
	width: 152px;
	min-height:117px;
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons ul.btns li:hover{
	background-position: bottom;
}

section.slider div.bottons ul.btns li.img1{
	background-image: url('images/13329998544218bd7e.JPG');
}

section.slider div.bottons ul.btns li.img2{
	background-image: url('images/132919621334df53ce.JPG');
}

section.slider div.bottons ul.btns li.img3{
	background-image: url('images/13291961521ef30c82.JPG');
}

section.slider div.bottons ul.btns li.img4{
	background-image: url('images/1314185598f1795cfd.JPG');
}

section.slider div.bottons ul.btns li.img5{
	background-image: url('images/1314185536e7dc68a5.JPG');
}

/********************************************************** end of slider ********************************************************/
/********************************************************** page title => in article pages only  ********************************************************/

.page-title-container{
	background-image: url('images/page-title-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
}

section.page-title{
	width: 890px;
	margin: 0 auto;
	min-height: 11px;
	direction: inherit;
	padding: 13px 30px;
}

section.page-title h2{
	color: #eee;
	text-shadow: 0 1px #555;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	line-height: 1.4;
}

/********************************************************** end of page title ********************************************************/
/********************************************************** main content => sidebar + content **************************************************/

.main-content-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 400px;
}

.main-content{
	width: 950px;
	margin: 0 auto;
	padding-top: 17px;
	min-height: 400px;
	direction: inherit;
}

/************************************************************* sidebar => in all pages **************************************************/

.sidebar-container{
	float:right;
	direction: inherit;
	min-height:200px;
	width: 240px;
}

aside.sidebar-container ul{
	list-style-type: none;
	background-color: #bbb;
	background-image:url('images/l_nav_bg.gif');
	background-repeat: no-repeat;
	background-position: bottom;
}

aside.sidebar-container li{
	background-repeat:no-repeat;
	display: block;
}

aside.sidebar-container li section{
	height:60px;
	width:240px;
}

aside.sidebar-container li ul{
	width:230px;
	background-color: #eee;
	overflow: hidden;
	height: 0;
	margin: 0 5px 5px 5px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;	
}

aside.sidebar-container ul li.inkjet-container:hover ul{
	height: 375px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container ul li.cutting-container:hover ul{
	height: 110px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container ul li.modeling-container:hover ul{
	height: 110px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container ul li.software-container:hover ul{
	height: 110px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container li ul li div{
	background-color: #fff;
}

aside.sidebar-container li li{
	padding:7px 5px;
}

aside.sidebar-container li li a{
	padding:0 15px;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: #555;
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	background-position: right 3px;
}

aside.sidebar-container li ul li div span{
	display: block;
	padding:5px 10px;
}

aside.sidebar-container li ul li div span a{
	padding:0 15px;
	font-family: inherit;
	font-size: 11px;
	text-decoration: none;
	color: #777;
	background-image: url('images/sub-arrow.png');
	background-repeat: no-repeat;
	background-position: right 3px;
}

aside.sidebar-container li section{
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container section.inkjet{
	background-image: url('images/inkjets.png');
}

aside.sidebar-container section.cutting{
	background-image: url('images/cutting-plotters.png');
}

aside.sidebar-container section.modeling{
	background-image: url('images/modeling-plotters.png');
}

aside.sidebar-container section.software{
	background-image: url('images/softwares.png');
}

aside.sidebar-container li:hover section{
	opacity: 0.8;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

aside.sidebar-container div.sidebar-small-box div{
	min-height: 70px;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: top;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container div.sidebar-small-box a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding: 30px 120px;
}

aside.sidebar-container div.sidebar-small-box div.small-box-1{
	background-image: url('images/small-box-1.jpg');
}

aside.sidebar-container div.sidebar-small-box div.small-box-2{
	background-image: url('images/small-box-2.jpg');
}

aside.sidebar-container div.sidebar-small-box div:hover{
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

/************************************************************* end of sidebar **************************************************/
/************************************************************* content => in all pages **************************************************/

.content{
	margin-right:240px;
	min-height:400px;
}

.content-body{
	padding: 0px 22px 15px 0px;
}

/************************************************************* iframe in content **************************************************/
section.pickup{
	min-height: 466px;
}

section.pickup iframe.index-iframe{   /*in index page only (events / ... )*/
	width: 688px;
	min-height: 460px;
}

nav.pickup ul{
	min-height: 34px;
	list-style-type: none;
	border-bottom: 1px solid red;
}

nav.pickup ul li{
	margin-left: 2px;
	float: right;
}

nav.pickup ul li a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding: 17px 85px;
}

nav.pickup ul li a.pickup{
	background-position: top;
	background-repeat: no-repeat;
}

nav.pickup ul li a.pickup{
	background-image: url('images/exhibition.png');
}

nav.pickup ul li a.product{
	background-image: url('images/FAQ.png');
}

nav.pickup ul li a.news{
	background-image: url('images/manual.png');
}

nav.pickup ul li a.event{
	background-image: url('images/movie.png');
}

nav.pickup ul li a:hover{
	background-position: bottom;
}

/************************************************************* end of iframe in content **************************************************/
/************************************************************* events in iframe *********************************************/

.short-news{
	width: 673px;
	margin: 0 auto;
	min-height: 429px;
	direction: inherit;
}

div.short-news article{
	direction: inherit;
	font-family: inherit;
	font-size: inherit;
	min-height: 75px;
	border-bottom: 1px dashed #ccc;
}

div.short-news article div.short-news-pic{
	width: 55px;
	height: 55px;
	float: right;
	opacity: 0.8;
	margin: 10px 5px;
}

div.short-news article:hover div.short-news-pic{
	opacity: 1;
}

div.short-news article div.short-news-pic a{
	display: block;
}

div.short-news article div.short-news-text{
	margin-right: 75px;
	padding: 10px 0 5px 5px;
}

div.short-news article div.short-news-text a{
	text-decoration: none;
	font-style: normal;
}

div.short-news article div.short-news-text h1{
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	margin-bottom: 5px;
	color: #777;
}

div.short-news article:hover div.short-news-text h1{
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	margin-bottom: 5px;
	color: #f00;
}

div.short-news article div.short-news-text p{
	margin-bottom: 5px;
	color: #888;
	line-height: 1.5;
}

div.short-news article:hover div.short-news-text p{
	color: #666;
}

/************************************************************* end of events in iframe *********************************************/
/************************************************************* products page *********************************************/

.products-list{
	width: 671px;
	margin: 0 auto;
}

.products-list header.category-header{
	min-height: 44px;
	background-position: top;
	background-repeat: no-repeat;
}

.products-list header.category-inkjet-header{
	background-image: url('images/products-inkjets.png');
}

.products-list header.category-cutting-header{
	background-image: url('images/products-cutting.png');	
}

.products-list header.category-modeling-header{
	background-image: url('images/products-modeling.png');	
}

.products-list section.category-details{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.products-list section.category-details section.sub-category{
	float: right;
	width: 320px;
	margin: 15px 7px;
}

.products-list section.category-details section.sub-category header h2{
	background-color: #CCC;
	min-height: 17px;
	padding: 5px 10px;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	direction: ltr;
	text-align: left;
}

.products-list section.category-details section.sub-category section h3{
	padding: 3px 5px;
	text-align: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5;
}

.products-list section.category-details section.sub-category{
	background-color: #eee;
}

.products-list section.category-details section.sub-category section ul{
	display: block;
	margin: 0 auto;
}

.products-list section.category-details section.sub-category section ul li a{
	float: right;
	margin: 0 3px;
	padding: 3px;
	text-decoration: underline;
	text-align: inherit;
	font-family: inherit;
	font-size: inherit;
	color: #00f;
	line-height: 1;
}

.products-list section.category-details section.sub-category section ul li a:active{
	color: #f00;
}

.products-list section.category-details section.sub-category section ul li a:visited{
	color: #444;
}

.products-list section.category-details section.sub-category div img{
	width: 237px;
	height: 159px;
	margin: 15px 40px;
}


/************************************************************* end of products list page **********************************************/
/************************************************************* single product details **************************************************/

.product-detail{
	width: 673px;
	min-height: 400px;
	margin: 0 auto;
}

div.product-detail nav.product-detail-anchors ul{
	direction: inherit;
	height: 51px;
	background-color: #eee;
	border: 1px solid #ccc;
}

div.product-detail nav.product-detail-anchors ul li{
	width: 119px;
	display: block;
	float: right;
	direction: inherit;
	list-style-type: none;
	background-image: url('images/product_menu.jpg');
	background-repeat: no-repeat;
	background-position: -2px top;
	margin-left: 1px;
	height: 51px;
}

div.product-detail nav.product-detail-anchors ul li:hover{
	background-position: -2px bottom;
}

div.product-detail nav.product-detail-anchors ul li.up{
	width: 66px;
	background-position: -126px top;
}

div.product-detail nav.product-detail-anchors ul li.up:hover{
	width: 66px;
	background-position: -126px bottom;
}

div.product-detail nav.product-detail-anchors ul li a{
	display: block;
	margin: 0 auto;
	padding: 19px 20px;
	font-family: inherit;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	text-shadow: 0 1px white;
	text-decoration: none;
}

div.product-detail nav.product-detail-anchors ul li:hover a{
	color: #eee;
	text-shadow: 0 1px #666;
}

div.product-detail nav.product-detail-anchors ul li.up a{
	padding: 25px 16px;
}

div.product-detail div.product-body section.product-detail-sub-title{
	min-height: 5px;
	padding: 11px 51px;
	background-image: url('images/product-detail-sub-title.png');
	background-position: top;
	background-repeat: no-repeat;
}

div.product-detail div.product-body section.product-detail-sub-title h2{
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #eee;
	text-shadow: 0 1px #666;
}

div.product-detail div.product-body section.product-detail-text{
	padding: 15px 0;
	font-family: inherit;
	font-size: inherit;
	color: #666;
	float: inherit;
}

div.product-detail div.product-body section.product-detail-text h2{
	padding: 5px 15px;
	margin-bottom: 10px;
	font-family: inherit;
	font-size: 11px;
	font-weight: bold;
	color: #555;
	float: inherit;
	background-image: url('images/h2.png');
	background-position: right;
	background-repeat: no-repeat;
}

div.product-detail div.product-body section.product-detail-text p{
	padding: 5px 20px;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5;
	color: #666;
	float: inherit;
}

div.product-detail div.product-body section.product-detail-text table.specification{
	float: inherit;
	direction: inherit;
	text-align: center;
	vertical-align: middle;
	font-family: inherit;
	font-size: inherit;
	color: #666;
	width: 672px;
	outline: 1px solid #666;
}

div.product-detail div.product-body section.product-detail-text table.specification th{
	padding: 5px 5px;
	outline: 1px solid #666;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px #666;
	background-color: #999;
}

div.product-detail div.product-body section.product-detail-text table.specification td{
	padding: 5px 5px;
	outline: 1px solid #666;
}
/************************************************************* end of single product details **************************************************/
/************************************************************* Boxes in content **************************************************/

.content-boxes{
	padding: 0px 15px 35px 0px;
	direction: inherit;
	min-height: 103px;
	direction: inherit;
}

div.box{
	float: right;
	width: 222px;
	margin-right: 9px;
	background-image: url('images/box_bg.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

div.box ul{
	padding: 10px 0;
}

div.box ul li{
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	background-position: right 8px;
	border-bottom: 1px dashed #888;
}

div.box ul li a{
	display: block;
	padding-right: 15px;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: #555;
}

div.box ul div{
}

div.box ul div span{
	display: block;
	margin-right: 10px;
}

div.box ul div span a{
	display: block;
	padding:5px 15px 5px 5px;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	background-image: url('images/sub-arrow.png');
	background-repeat: no-repeat;
	background-position: right;
	color: #555;
}

div.box section.sign-graphic{
	min-height: 103px;
	background-image: url('images/box1.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box section.industrial-products{
	min-height: 103px;
	background-image: url('images/box2.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box section.textile-apparel{
	min-height: 103px;
	background-image: url('images/box3.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover section{
	opacity: 0.7;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box ul{
	height: 0;
	overflow: hidden;
	padding: 0 5px 5px 5px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul.sg{
	height: 190px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul.ip{
	height: 100px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul.ta{
	height: 100px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box ul li{
	padding: 5px 0;
	opacity: 0;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul li{
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

/************************************************************* end of Boxes in content **************************************************/
/************************************************************* end of content **************************************************/
/************************************************************* end of main content **************************************************/
/************************************************************* footer **************************************************/
/************************************************************* bottom navigation of site **************************************************/

.navigation-container{
	margin: 0 auto;
	direction: inherit;
	background-color: #777;
}

.navigation{
	display: block;
	width: 950px;
	margin: 0 auto;
	padding-top: 1px;
	direction: inherit;
}

nav.navigation div.nav-logo{
	float: right;
	width: 249px;
}

nav.navigation div.nav-items{
	margin:10px 300px 0 0;	
}

nav.navigation div.nav-items ul li{
	display: block;
	margin-right: 5px;
	float: right;
	border-left: 1px solid #ddd;
	list-style-type: none;
}

nav.navigation div.nav-items ul li a{
	padding: 0 10px;
	color: #eee;
	text-decoration: none;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

nav.navigation div.nav-items ul li:hover a{
	color: #fff;
	text-decoration: underline;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

/************************************************************* end of bottom navigation of site **************************************************/
/************************************************************* copyright **************************************************/

.copyright-container{
	margin: 0 auto;
}

.copyright{
	width: 950px;
	margin: 0 auto;
	padding: 10px 0; 
	min-height: 105px;
	direction: inherit;
}

footer.copyright section.copyright-text p{
	direction: inherit;
	text-align: inherit;
	padding-bottom: 5px;
	color: #555;
}

footer.copyright section.copyright-text p b{
	font-weight: bold;
}

footer.copyright section.copyright-text a{
	direction: inherit;
	text-align: inherit;
	text-decoration: none;
	color: #880;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

footer.copyright section.copyright-text a:hover{
	color: #eb0;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

/************************************************************* end of copyright **************************************************/
/************************************************************* end of footer **************************************************/