*{
	outline: 1px dashed red;
}

.clear{
	clear:both;
	width: 0;
	height: 0;
	min-height: 0;
	min-width: 0;
	border: 0 none;
	padding: 0;
	margin: 0;
}

.main-container{
	margin: 0 auto;
	direction: rtl;
	font-family: Tahoma;
	font-size: 12px;
}

.header-container{
	margin: 0 auto;
	direction: inherit;
}

.header{
	width: 950px;
	margin: 0 auto;
	min-height: 100px;
	direction: inherit;
}

.logo a{
	display: block;
	margin-left: 459px;
	min-height: 100px;
}

.menu-container{
	background-image: url('images/menu-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
	min-height: 43px;
}

.slider-container{
	background-image: url('images/slider-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
}
/********* slider*********/
section.slider{
	width: 950px;
	margin: 0 auto;
	min-height: 429px;
	direction: ltr;
	overflow: hidden;
	position: relative;
}

section.slider div.scroll{
	width:5000px; /* 5*980 (per img) */
	height:294px;
	position:absolute;
	left:0;
	top:0;
	direction: ltr;
	padding-top:1px;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);
}

section.slider div.scroll div{
	width:950px;
	height:294px;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
	direction: ltr;
}

section.slider div.scroll > div.adv1{
	background-image:url(images/132746088563c2de1d.JPG);
}

section.slider div.scroll > div.adv2{
	background-image:url(images/13274608779cd0af20.JPG);
}

section.slider div.scroll > div.adv3{
	background-image:url(images/13329970497e58993a.JPG);
}

section.slider div.scroll > div.adv4{
	background-image:url(images/1329301246a476aad2.JPG);
}

section.slider div.scroll > div.adv5{
	background-image:url(images/1329273262dca1c3ea.JPG);
}

section.slider div.bottons{
	width: 950px;
	margin: 0 auto;
	padding-top:1px;
	position: absolute;
	top:296px;
	background-color: 
}

section.slider div.bottons div.next{
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/back.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons div.next:hover{
	background-position: bottom;
}

section.slider div.bottons div.prv{
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/prev.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons div.prv:hover{
	background-position: bottom;
}

section.slider div.bottons div.arrows{
	margin-right:40px;
	margin-left: 40px;
	min-height: 50px;
	height:130px;
}

section.slider div.bottons ul.btns{
	list-style-type: none;
	height:130px;
}

section.slider div.bottons ul li{
	display: block;
	float: left;
	margin:6px 11px;
	width: 152px;
	min-height:117px;
	background-repeat: no-repeat;
	background-position: top;
}

section.slider div.bottons ul.btns li:hover{
	background-position: bottom;
}

section.slider div.bottons ul.btns li.img1{
	background-image: url('images/13329998544218bd7e.JPG');
}

section.slider div.bottons ul.btns li.img2{
	background-image: url('images/132919621334df53ce.JPG');
}

section.slider div.bottons ul.btns li.img3{
	background-image: url('images/13291961521ef30c82.JPG');
}

section.slider div.bottons ul.btns li.img4{
	background-image: url('images/1314185598f1795cfd.JPG');
}

section.slider div.bottons ul.btns li.img5{
	background-image: url('images/1314185536e7dc68a5.JPG');
}
/************************************************************* main content **************************************************/

.main-content-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 400px;
}

.sidebar-container{
	float:right;
	direction: inherit;
	width:240px;
	min-height:422px;
}

aside.sidebar-container{
	direction: inherit;
	min-height:200px;
	width: 240px;
}

aside.sidebar-container ul{
	list-style-type: none;
	background-color: rgb(187,187,187);
	background-image:url('images/l_nav_bg.gif');
	background-repeat: no-repeat;
	background-position: bottom;
}

aside.sidebar-container li{
	background-repeat:no-repeat;
	display: block;
}

aside.sidebar-container li section{
	height:60px;
	width:240px;
}

aside.sidebar-container li ul{
	width:230px;
	background-color: white;
	overflow: hidden;
	height: 0px;
	margin: 0 5px 5px 5px;
	-webkit-transition:all 600ms;	
}

aside.sidebar-container li:hover ul{
	height: 200px;
}

aside.sidebar-container li li{
	padding:10px 0;
}

aside.sidebar-container section{
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container section.inkjet{
	background-image: url('images/inkjets.png');
}

aside.sidebar-container section.cutting{
	background-image: url('images/cutting-plotters.png');
}

aside.sidebar-container section.modeling{
	background-image: url('images/modeling-plotters.png');
}

aside.sidebar-container section.software{
	background-image: url('images/softwares.png');
}

aside.sidebar-container section:hover{
	opacity: 0.8;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

aside.sidebar-container div.sidebar-small-box div{
	min-height: 70px;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: top;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

aside.sidebar-container div.sidebar-small-box a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding: 34px 120px;
}

aside.sidebar-container div.sidebar-small-box div.small-box-1{
	background-image: url('images/small-box-1.jpg');
}

aside.sidebar-container div.sidebar-small-box div.small-box-2{
	background-image: url('images/small-box-2.jpg');
}

aside.sidebar-container div.sidebar-small-box div:hover{
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

.content{
	margin-right:240px;
	min-height:400px;
}

.menu{
	width: 950px;
	margin: 0 auto;
	direction: inherit;
}

nav.menu ul{
	direction: inherit;
	list-style-type: none;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;	
	border-left: 1px solid #ccc;
}

nav.menu ul li{
	float: right;
	direction: inherit;
	border-right: 1px solid #fff;
	border-left: 1px solid #ccc;
}

nav.menu ul li:hover{
	background-image: url('images/menu-bg-hover.png');
	background-repeat: repeat-x;
	background-position: top;
}

nav.menu ul li a{
	display: block;
	padding: 13px 35px;
	font-family: inherit;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	text-shadow:0 1px #fff;
	text-decoration: none;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

nav.menu ul li:hover a{
	color: #444;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
}

.main-content{
	width: 950px;
	margin: 0 auto;
	padding-top: 17px;
	min-height: 400px;
	direction: inherit;
}

.content-body{
	min-height: 400px;
	padding: 0px 22px 15px 0px;
}

/******************* iframe ***********************/
section.pickup{
	min-height: 466px;
}

section.pickup iframe.iframe{
	width: 686px;
	min-height: 429px;
}

nav.pickup{

}

nav.pickup ul{
	min-height: 34px;
	list-style-type: none;
	border-bottom: 1px solid red;
}

nav.pickup ul li{
	margin-left: 2px;
	float: right;
}

nav.pickup ul li a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding: 17px 85px;
}

nav.pickup ul li a.pickup{
	background-position: top;
	background-repeat: no-repeat;
}

nav.pickup ul li a.pickup{
	background-image: url('images/exhibition.png');
}

nav.pickup ul li a.product{
	background-image: url('images/FAQ.png');
}

nav.pickup ul li a.news{
	background-image: url('images/manual.png');
}

nav.pickup ul li a.event{
	background-image: url('images/movie.png');
}

nav.pickup ul li a:hover{
	background-position: bottom;
}

/******************* iframe end *******************/
.product-detail{
	min-height: 400px;
	background-image: url('images/11.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

div.product-detail nav.product-detail-anchors ul{
	direction: inherit;
	list-style-type: none;
}

div.product-detail nav.product-detail-anchors ul li{
	float: right;
	direction: inherit;
	border-right: 1px solid white;
	border-left: 1px solid #CCC;
}

div.product-detail nav.product-detail-anchors ul li a{
	margin-left: 1px;
	padding: 19px 20px;
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	text-shadow: 0 1px white;
	font-weight: bold;
	display: block;
	color: #666;
}

.content-boxes{
	padding: 0px 15px 35px 0px;
	direction: inherit;
	min-height: 103px;
	direction: inherit;
}

div.box{
	float: right;
	width: 222px;
	margin-right: 9px;
	background-image: url('images/box_bg.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

div.box section.sign-graphic{
	min-height: 103px;
	background-image: url('images/box1.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box section.industrial-products{
	min-height: 103px;
	background-image: url('images/box2.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box section.textile-apparel{
	min-height: 103px;
	background-image: url('images/box3.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover section{
	opacity: 0.7;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box ul{
	height: 0;
	overflow: hidden;
	padding: 0 5px 5px 5px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul{
	height: 130px;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}
div.box ul li{
	padding: 5px 0;
	opacity: 0;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

div.box:hover ul li{
	opacity: 1;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

.navigation-container{
	margin: 0 auto;
	direction: inherit;
	background-color: #777;
}

.navigation{
	display: block;
	width: 950px;
	margin: 0 auto;
	padding-top: 1px;
	direction: inherit;
}

nav.navigation div.nav-logo{
	float: right;
	width: 249px;
}

nav.navigation div.nav-items{
	margin:10px 300px 0 0;	
}

nav.navigation div.nav-items ul li{
	display: block;
	margin-right: 5px;
	float: left;
	border-left: 1px solid #ddd;
	list-style-type: none;
}

nav.navigation div.nav-items ul li a{
	padding: 0 10px;
	color: #eee;
	text-decoration: none;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

nav.navigation div.nav-items ul li:hover a{
	color: #fff;
	text-decoration: underline;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

.copyright-container{
	margin: 0 auto;
}

.copyright{
	width: 950px;
	margin: 0 auto;
	padding: 10px 0; 
	min-height: 105px;
	direction: inherit;
}

footer.copyright section.copyright-text p{
	direction: inherit;
	text-align: inherit;
	padding-bottom: 5px;
	color: #555;
}

footer.copyright section.copyright-text a{
	direction: inherit;
	text-align: inherit;
	text-decoration: none;
	color: #880;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}

footer.copyright section.copyright-text a:hover{
	color: #eb0;
	-webkit-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-moz-transition: all 400ms;
}
