*{
	outline: 1px dashed red;
}

.clear{
	clear:both;
	width: 0;
	height: 0;
	min-height: 0;
	min-width: 0;
	border: 0 none;
	padding: 0;
	margin: 0;
}


.main-container{
	margin: 0 auto;
	direction: rtl;
	font-family: Tahoma;
	font-size: 12px;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

.header-container{
	margin: 0 auto;
	direction: inherit;
}

.menu-container{
	background-image: url('images/menu-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
	min-height: 43px;
}

.slider-container{
	/*background-image: url('images/slider-bg.png');
	background-position: top;*/
	background-repeat: repeat-x;
	direction: inherit;
	margin: 0 auto;
	min-height: 433px;
}

.main-content-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 400px;
}

.sidebar-container{
	float:right;
	direction: inherit;
	width:240px;
	min-height:422px;
}

aside.sidebar-container{
	direction: inherit;
	min-height:200px;
	width: 240px;
}

aside.sidebar-container ul{
	list-style-type: none;
	background-color: rgb(187,187,187);
	background-image:url('images/l_nav_bg.gif');
	background-repeat: no-repeat;
	background-position: bottom;
}

aside.sidebar-container li{
	background-repeat:no-repeat;
	display: block;
}

aside.sidebar-container li section{
	height:60px;
	width:240px;
}

aside.sidebar-container li ul{
	width:230px;
	background-color: white;
	overflow: hidden;
	height: 0px;
	margin: 0 5px 5px 5px;
	-webkit-transition:all 600ms;	
}

aside.sidebar-container li:hover ul{
	height: 200px;
}

aside.sidebar-container li li{
	padding:10px 0;
}

aside.sidebar-container section.inkjet{
	background-image: url('images/inkjets.png');
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
}

aside.sidebar-container section.cutting{
	background-image: url('images/cutting-plotters.png');
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
}

aside.sidebar-container section.modeling{
	background-image: url('images/modeling-plotters.png');
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
}

aside.sidebar-container section.software{
	background-image: url('images/softwares.png');
	background-repeat: no-repeat;
	background-position: top;
	min-height: 60px;
}

.content{
	margin-right:240px;
	min-height:400px;
}

.navigation-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 32px;
	/*background-color: #333;*/
}

.copyright-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 105px;
}

.header{
	width: 950px;
	margin: 0 auto;
	min-height: 93px;
	direction: inherit;
}

.menu{
	width: 950px;
	margin: 0 auto;
	direction: inherit;
}

nav.menu ul{
	direction: inherit;
	list-style-type: none;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;	
	border-left: 1px solid #ccc;
}

nav.menu ul li{
	float: right;
	direction: inherit;
	border-right: 1px solid #fff;
	border-left: 1px solid #ccc;
}

nav.menu ul li:hover{
	background-image: url('images/menu-bg-hover.png');
	background-repeat: repeat-x;
	background-position: top;
}

nav.menu ul li a{
	display: block;
	padding: 13px 35px;
	font-family: inherit;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	text-shadow:0 1px #fff;
	text-decoration: none;
}

nav.menu ul li:hover a{
	color: #444;
}

.slider{
	width: 950px;
	margin: 0 auto;
	min-height: 433px;
	direction: inherit;
}

.main-content{
	width: 950px;
	margin: 0 auto;
	padding-top: 20px;
	min-height: 400px;
	direction: inherit;
}

.content-body{
	min-height:400px;
	padding: 15px 25px 15px 0px;
}

.content-boxes{
	padding: 0px 15px 40px 0px;
	direction: inherit;
	min-height: 103px;
	direction: inherit;
}

div.box{
	float: right;
	width: 221px;
	min-height: 103px;
	background-image: url('images/box-bg.png');
	background-position: bottom;
	background-repeat: no-repeat;
	margin-right: 10px;
	
}

div.box section{
	height: 103px;
	background-image: url('images/box1.png');
	background-position: top;
	background-repeat: no-repeat;
	opacity: 0.7;
}

div.box:hover section{
	opacity: 1;
}

div.box ul{
	height: 0;
	overflow: hidden;
	padding: 0 5px 5px 5px;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;
	
}
div.box:hover ul{
	height: 150px;
	overflow: visible;
	-webkit-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	-moz-transition: all 600ms;

div.box ul li{
	padding: 10px 0;
}


div.box section.industrial-products{
	width: 221px;
	min-height: 103px;
	background-image: url('images/box2.png');
	background-position: top;
	background-repeat: no-repeat;
}

div.box section.textile-apparel{
	width: 221px;
	min-height: 103px;
	background-image: url('images/box3.png');
	background-position: top;
	background-repeat: no-repeat;
}

.navigation{
	width: 950px;
	margin: 0 auto;
	min-height: 32px;
	direction: inherit;
}

.copyright{
	width: 950px;
	margin: 0 auto;
	min-height: 105px;
	direction: inherit;
}