*{
	outline: 0px dashed red;
}
span{
	display: inline;
}


.main-container{
	margin: 0 auto;
	direction: ltr;
	font-family: Tahoma;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: top;
}

.header-container{
	margin: 0 auto;
	direction: inherit;
}

.menu-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 43px;
	/*background-image: url('images/menu-bg.png');
	background-repeat: repeat-x;
	background-position: top;*/
}

.slider-container{
	margin: 0 auto;
	direction: ltr;
	min-height: 433px;
	/*background-image: url('images/slider-bg.png');
	background-repeat: repeat-x;
	background-position: top;*/
	
}

.main-content-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 422px;
}

.box-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 193px;
}

.navigation-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 32px;
	/*background-color: #333;*/
}

.copyright-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 105px;
}

.header{
	width: 950px;
	margin: 0 auto;
	min-height: 93px;
	direction: inherit;
}

.menu{
	width: 950px;
	margin: 0 auto;
	min-height: 43px;
	direction: inherit;
}



.main-content{
	width: 950px;
	margin: 0 auto;
	min-height: 422px;
	direction: inherit;
	padding-top:1px;
}

.boxes{
	width: 950px;
	margin: 0 auto;
	min-height: 193px;
	direction: inherit;
}

.navigation{
	width: 950px;
	margin: 0 auto;
	min-height: 32px;
	direction: inherit;
}

.copyright{
	width: 950px;
	margin: 0 auto;
	min-height: 105px;
	direction: inherit;
}
aside.left-nav{
	min-height:200px;
	width: 240px;
	
}
aside.left-nav ul{
	list-style: url('images/arrow.jpg');

	background-color: rgb(187,187,187);
}
aside.left-nav li{
	list-style-image: url('images/arrow.jpg');

	background-repeat:no-repeat;
	display: block;


}
aside.left-nav li h1{
	
	height:60px;
	width:240px;
	
	color:red;	
	
}
aside.left-nav li ul{
	direction: ltr;
	width:230px;
	background-color: white;
	overflow: hidden;
	height: 0px;
	margin: 0 auto;

	


	-webkit-transition:all 600ms;	
	
}
aside.left-nav li:hover ul{
	height: 200px;
}
aside.left-nav li li{
	padding:10px 0;
}
h1.inkjet{
	background-image: url('images/lh3_printer.jpg');
}

h1.cutting{
	background-image: url('images/lh3_cuting.jpg');
}

h1.modeling{
	background-image: url('images/lh3_modeling.jpg');
}
h1.software{
	background-image: url('images/lh3_software.jpg');

}




/************************************ content(iframe) **************************************/




section.content{
	margin-left: 270px;
}
section.impinfo{
	min-height: 60px;
	margin-bottom: 30px;
}
nav.pickup{

}
nav.pickup ul{
	list-style-type: none;
}

nav.pickup ul li{
	float:left;

}
nav.pickup ul li a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding:17px 85px;

}
nav.pickup ul li a:hover{
	background-position: 0 -34px;
}
nav.pickup a.pickup{
	background-image: url('images/tab_picup.jpg');
}
nav.pickup a.product{
	background-image: url('images/tab_product.jpg');
}
nav.pickup a.news{
	background-image: url('images/tab_news.jpg');
}
nav.pickup a.event{
	background-image: url('images/tab_event.jpg');
}
/******************* content of iframe in index *****************************/

section.container-iframe{
	width:680px;
	background-color: #bcbcbc;
	min-height:600px;
}
section.container-iframe ul{
	width:660px;
	margin: 0 auto;
	
	}
section.container-iframe li{
	min-height:50px;
	border-top: 1px dotted #898989;
	padding:8px 0;
}

section.container-iframe li a{
	display: block;
	float: left;

}

section.container-iframe li p{
	margin-left: 60px;
}
section.container-iframe li span{
	display: block;
}

/********* slider*********/

section.banner{
	width: 950px;
	margin: 0 auto;
	min-height: 433px;
	direction: ltr;
	overflow: hidden;
	position: relative;
	padding-top:1px;


}
section.banner div.scroll{
	width:5000px; /* 5*980 (per img) */
	height:300px;
	position:absolute;
	left:0;
	top:0;
	direction: ltr;
	padding-top:1px;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);

	
	
}
section.banner div.scroll div{
	width:950px;
	height:300px;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
	direction: ltr;
}
section.banner div.scroll > div.adv1{
	
	background-image:url(images/132746088563c2de1d.JPG);
}
section.banner div.scroll > div.adv2{
	
	background-image:url(images/13274608779cd0af20.JPG);
}
section.banner div.scroll > div.adv3{
	
	background-image:url(images/13329970497e58993a.JPG);
}
section.banner div.scroll > div.adv4{

	background-image:url(images/1329301246a476aad2.JPG);
}
section.banner div.scroll > div.adv5{
	
	background-image:url(images/1329273262dca1c3ea.JPG);
}



section.banner div.bottons{
	width: 940px;
	margin: 0 auto;
	min-height:100px;
	padding-top:1px;
	position: absolute;
	top:300px;
	left:5px;
	background-color: 
}
section.banner div.bottons div.next{
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/back.jpg');
}
section.banner div.bottons div.prv{
	min-height:40px;
	margin-top: 45px;
	width:40px;
	background-image: url('images/prev.jpg');
}
section.banner div.bottons div.arrows{
	margin-right:40px;
	margin-left: 40px;
	min-height: 50px;
	width:885px;
	height:152px;
}
section.banner div.bottons ul.btns{
	list-style-type: none;
	width:897px;
	height:152px;

}
section.banner div.bottons ul li{
	display: block;
	float: left;
	margin:10px 10px;
	width: 152px;
	min-height:117px;
}
section.banner div.bottons ul li:hover{
	box-shadow: 0px 0px 5px #444;
}

section.banner div.bottons ul.btns li.img1{
	background-image: url('images/13329998544218bd7e.JPG');
}
section.banner div.bottons ul.btns li.img2{
	background-image: url('images/132919621334df53ce.JPG');
}
section.banner div.bottons ul.btns li.img3{
	background-image: url('images/13291961521ef30c82.JPG');
}
section.banner div.bottons ul.btns li.img4{
	background-image: url('images/1314185598f1795cfd.JPG');
}
section.banner div.bottons ul.btns li.img5{
	background-image: url('images/1314185536e7dc68a5.JPG');
}
/************************** contact us ***************************/

div.container-contact{
	width: 950px;
	padding-top: 220px;
	margin: 0 auto;

}
section.contact{
	width:680px;
	min-height: 700px;
	margin-left: 270px;
}

div.formheader{
	width:680px;
	min-height:30px;
	background-image: url('images/h3_list.gif');
	
	border:1px solid #999;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 20px;

}
div.contactfield{
	min-height:500px;
	width:680px;
	
}
div.contactfield div.w4{
	min-height:25px;
	background-color: #c9c9c9;
	outline:1px solid white;
}
div.contactfield div.ml4{
	min-height: 25px;

}

div.contactfield div.name,div.state,div.category,div.address,div.country,div.question{
	width:680px;
	min-height:25px;
}
div.contactfield select,input{
	float: left;
	margin:0px 3px;
}
div.contactfield textarea{
	width: 680px;
}
div.contactfield span{
	margin-right:13px;
	font-family:Tahoma;
}

/************************* ACC articles ***********************/

div.accmain-container{
	margin:0 auto;
	width: 680px;
	min-height:300px;

}



h3.supheader{
	background-image: url('images/h3.gif');
	background-repeat:no-repeat;
	background-position: 0 -40px;
	padding:5px 10px 5px 10px;
	width: 100px;
	min-height: 20px;
	font-family:Tahoma;
	margin-bottom: 20px;

}

div.acc-container{
	width:680px;
	min-height:400px;

}

h3.selector{
	background-image: url('images/bg-supply_cat1.gif');
	padding:9px 10px 9px 20px;
}

div.acc-container ul{
	list-style-type: none;
	height:10px;
	
	width:680px;
	background-color: gray;
	overflow: hidden;
}
div.acc-container ul li{
	min-height:100px;
	display: block;
	background-color: darkgray;
	width:680px;
	margin-bottom:20px;
}
h3.selector2{
	background-image: url('images/bg-supply_cat1.gif');
	padding:9px 10px 9px 20px;
}
h3.selector1{
	background-image: url('images/bg-supply_cat1.gif');
	padding:9px 10px 9px 20px;
}


/*************************** download *************************************/


section.download{

	width: 680px;
	min-height: 200px;
	margin-left: 270px;
}

div.product-download{
	width: 680px;
	min-height:100px;
}

div.product-info{
	width:680px;
	height:70px;
	padding-top:20px;
}
div.product-info div.pro-name{
	width: 680px;
	background-image: url('images/h3_list.gif');
	height:34px;
	position: relative;
	border-right:1px solid #999;
}
div.product-info div.pro-img{
	background-image: url('images/thumb.jpg');
	height:70px;
	width:85px;
	position: absolute;
	top:10px;
	left:820px;
	border:1px solid gray;
	box-shadow:0px 0px 5px #444;
}
div.profile-download{
	background-color: #ddd;
	width:670px;
	padding: 20px 0px 20px 10px;
	border-bottom:1px dashed #444;
}

div.driver-download{
	background-image: url('images/productchooser_texture.jpg');
	width:670px;
	padding: 20px 0px 20px 10px;
	border-bottom:1px dashed #444;

}
div.software-download{
	background-color: #ddd;
	width:670px;
	padding: 20px 0px 20px 10px;
	border-bottom:1px dashed #444;

}

div.product-download h4{
	font-family: Tahoma;
	font-size: 17px;
	color: #555;
	float: left;

}
div.product-download div.download-link{
	background-image:url('images/Download-icon.png');
	width:48px;
	height: 48px;
	margin-left:600px;
}


















