*{
	outline: 1px dashed red;
}

.clear{
	clear:both;
	width: 0;
	height: 0;
	min-height: 0;
	min-width: 0;
	border: 0 none;
	padding: 0;
	margin: 0;
}


.main-container{
	margin: 0 auto;
	direction: rtl;
	font-family: Tahoma;
	font-size: 12px;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

.header-container{
	margin: 0 auto;
	direction: inherit;
}

.menu-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 43px;
	/*background-image: url('images/menu-bg.png');
	background-repeat: repeat-x;
	background-position: top;*/
}

.slider-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 433px;
	/*background-image: url('images/slider-bg.png');
	background-repeat: repeat-x;
	background-position: top;*/
	margin-bottom: 10px;
}

.main-content-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 422px;
}

.box-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 193px;
}

.navigation-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 32px;
	/*background-color: #333;*/
}

.copyright-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 105px;
}

.header{
	width: 950px;
	margin: 0 auto;
	min-height: 93px;
	direction: inherit;
}

.menu{
	width: 950px;
	margin: 0 auto;
	min-height: 43px;
	direction: inherit;
}



.main-content{
	width: 950px;
	margin: 0 auto;
	min-height: 422px;
	direction: inherit;
}

.boxes{
	width: 950px;
	margin: 0 auto;
	min-height: 193px;
	direction: inherit;
}

.navigation{
	width: 950px;
	margin: 0 auto;
	min-height: 32px;
	direction: inherit;
}

.copyright{
	width: 950px;
	margin: 0 auto;
	min-height: 105px;
	direction: inherit;
}
aside.left-nav{
	min-height:200px;
	width: 240px;
}
aside.left-nav ul{
	list-style-type: none;
	background-color: rgb(187,187,187);
}
aside.left-nav li{
	
	background-repeat:no-repeat;
	display: block;


}
aside.left-nav li h1{
	
	height:60px;
	width:240px;
	
	color:red;	
	
}
aside.left-nav li ul{
	width:230px;
	background-color: white;
	overflow: hidden;
	height: 0px;
	margin: 0 auto;

	-webkit-transition:all 600ms;	
	
}
aside.left-nav li:hover ul{
	height: 200px;
}
aside.left-nav li li{
	padding:10px 0;
}
h1.inkjet{
	background-image: url('images/lh3_printer.jpg');
}

h1.cutting{
	background-image: url('images/lh3_cuting.jpg');
}

h1.modeling{
	background-image: url('images/lh3_modeling.jpg');
}
h1.software{
	background-image: url('images/lh3_software.jpg');

}


/*************** content *****************/


section.content{
	margin-left: 270px;
}
section.impinfo{
	min-height: 60px;
	margin-bottom: 30px;
}
nav.pickup{

}
nav.pickup ul{
	list-style-type: none;
}

nav.pickup ul li{
	float:left;

}
nav.pickup ul li a{
	text-decoration: none;
	color: white;
	display: block;
	text-indent: -99999px;
	padding:17px 85px;

}
nav.pickup ul li a:hover{
	background-position: 0 -34px;
}
nav.pickup a.pickup{
	background-image: url('images/tab_picup.jpg');
}
nav.pickup a.product{
	background-image: url('images/tab_product.jpg');
}
nav.pickup a.news{
	background-image: url('images/tab_news.jpg');
}
nav.pickup a.event{
	background-image: url('images/tab_event.jpg');
}
/******************* content of iframe in index *****************************/

section.container-iframe{
	width:680px;
	background-color: #bcbcbc;
	min-height:600px;
}
section.container-iframe ul{
	width:660px;
	margin: 0 auto;
	
	}
section.container-iframe li{
	min-height:100px;
	border-top: 1px dotted #898989;
}

section.container-iframe li a{
	display: block;
	float: left;

}

section.container-iframe li p{
	margin-left: 60px;
}
section.container-iframe li span{
	display: block;
}

/********* slider*********/

section.slider{
	width: 950px;
	margin: 0 auto;
	min-height: 433px;
	direction: inherit;

}

section.slider div.slides div{
	float: right;
	display: block;
}


section.slider div.slides img{
	display: block;
	float: right;
}
















